@model KursDB.Models.RoomsWithTypes

@{
    ViewBag.Title = "Edit_Room";
    Layout = "~/Views/Shared/MainMasterPage.cshtml";
}

<center>
    <h2>Edit Room</h2>

    @using (Html.BeginForm("EditRoom", "Rooms", FormMethod.Post))
    {
            @Html.ValidationSummary(true)
            <div class="form-group">
                @Html.LabelFor(model => model.Number, new { @class = "control-label" })
                <div>
                    @Html.EditorFor(model => model.Number)
                    @Html.ValidationMessageFor(model => model.Number)
                </div>
                <br />
                <select id="select_@Model.Room_ID" name="typeTitle">
                    @foreach (var @type in Model.AllTypes)
                    {
                        <option>@type.Title</option>
                    }
                </select>
                <input type="hidden" name="idRoom" value="@Model.Room_ID" />
                <div>
                    <br />
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </div>
    }
</center>